{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Duomenų įvedimas
    </h1>

    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" value="Įrašyti" class="btn btn-success"/>
    </form>


{% endblock %}